# Файлы окружения
.env
.env.*
!.env.example

# Директории Python
__pycache__/
*.pyc
.venv/
venv/
env/
.idea/
.vscode/
*.egg-info/
dist/
build/

# Логи
*.log
logs/
gen-logs/

# Poetry
.pypoetry.virtualenvs/

repo_for_upload/
family_bot/
*.zip

google-credentials.json
aider_keys.sh

models/
ollama_data/

bento_flux_service/bentos/
.aider*
scripts/
